In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
import warnings 
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('vectorization.csv')

In [3]:
df.head()

                           test  class
0             I love Bangladesh      1
1  Could you give me an iphone?      0
2            Hello how are you?      1
3           I want to talk you.      1

In [4]:
#NLTK :Natural Language Toolkit

In [5]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\shaikat\anaconda3\lib\site-packages (3.6.1)
Requirement already satisfied: regex in c:\users\shaikat\anaconda3\lib\site-packages (from nltk) (2021.4.4)
Requirement already satisfied: joblib in c:\users\shaikat\anaconda3\lib\site-packages (from nltk) (1.0.1)
Requirement already satisfied: tqdm in c:\users\shaikat\anaconda3\lib\site-packages (from nltk) (4.59.0)
Requirement already satisfied: click in c:\users\shaikat\anaconda3\lib\site-packages (from nltk) (7.1.2)

# stemming

In [6]:
word=['change','changing','changes','changed']

In [7]:
from nltk.stem import PorterStemmer

In [8]:
stemming=PorterStemmer()

In [9]:
for w in word:
    print(w,stemming.stem(w))

change chang
changing chang
changes chang
changed chang

In [10]:
sen = 'I want to change the world if world changed my career by changing abcd'

In [11]:
from nltk.tokenize import word_tokenize # TOKENIZE MANE SENTENCE KE LIST KORA

In [12]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Shaikat\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [13]:
toke = word_tokenize(sen)

In [14]:
toke

['I',
 'want',
 'to',
 'change',
 'the',
 'world',
 'if',
 'world',
 'changed',
 'my',
 'career',
 'by',
 'changing',
 'abcd']

In [15]:
for w in toke:
    print(w,stemming.stem(w))

I i
want want
to to
change chang
the the
world world
if if
world world
changed chang
my my
career career
by by
changing chang
abcd abcd

In [16]:
from nltk.stem import WordNetLemmatizer

In [17]:
le = WordNetLemmatizer()

In [18]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Shaikat\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [19]:
for w in toke:
    print(w , le.lemmatize(w))

I I
want want
to to
change change
the the
world world
if if
world world
changed changed
my my
career career
by by
changing changing
abcd abcd

# Vectorizer

In [20]:
df=pd.read_csv('vectorization.csv')

In [21]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [22]:
cv = CountVectorizer()

In [23]:
cv_x = cv.fit_transform(df['test'])
cv_x

<4x14 sparse matrix of type '<class 'numpy.int64'>'
	with 16 stored elements in Compressed Sparse Row format>

In [24]:
cv_x.toarray()

array([[0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1],
       [0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1]], dtype=int64)

In [25]:
cv.get_feature_names()

['an',
 'are',
 'bangladesh',
 'could',
 'give',
 'hello',
 'how',
 'iphone',
 'love',
 'me',
 'talk',
 'to',
 'want',
 'you']

In [26]:
cv_df = pd.DataFrame(cv_x.toarray(), columns=cv.get_feature_names(), index=df['test'])

In [27]:
cv_df

,an,are,bangladesh,could,give,hello,how,iphone,love,me,talk,to,want,you
test,,,,,,,,,,,,,,
I love Bangladesh,0,0,1,0,0,0,0,0,1,0,0,0,0,0
Could you give me an iphone?,1,0,0,1,1,0,0,1,0,1,0,0,0,1
Hello how are you?,0,1,0,0,0,1,1,0,0,0,0,0,0,1
I want to talk you.,0,0,0,0,0,0,0,0,0,0,1,1,1,1

In [28]:
cv_df = pd.DataFrame(cv_x.toarray(), columns=cv.get_feature_names())

In [29]:
cv_df

,an,are,bangladesh,could,give,hello,how,iphone,love,me,talk,to,want,you
0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
1,1,0,0,1,1,0,0,1,0,1,0,0,0,1
2,0,1,0,0,0,1,1,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,1,1,1,1

# tfidfvectorizer

In [30]:
tf = TfidfVectorizer()

In [31]:
tf_z = tf.fit_transform(df['test'])

In [32]:
tf_z

<4x14 sparse matrix of type '<class 'numpy.float64'>'
	with 16 stored elements in Compressed Sparse Row format>

In [33]:
cv_df = pd.DataFrame(tf_z.toarray(), columns=tf.get_feature_names(), index=df['test'])

In [34]:
cv_df

,an,are,bangladesh,could,give,hello,how,iphone,love,me,talk,to,want,you
test,,,,,,,,,,,,,,
I love Bangladesh,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000
Could you give me an iphone?,0.430037,0.000000,0.000000,0.430037,0.430037,0.000000,0.000000,0.430037,0.000000,0.430037,0.000000,0.000000,0.000000,0.274487
Hello how are you?,0.000000,0.541736,0.000000,0.000000,0.000000,0.541736,0.541736,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.345783
I want to talk you.,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.541736,0.541736,0.541736,0.345783

In [38]:
!pip install gensim

Collecting gensim

  WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x00000280AC6497C0>, 'Connection to files.pythonhosted.org timed out. (connect timeout=15)')': /packages/fc/d9/d97f1db64b09278aba64e8c81b5d322d436132df5741c518f3823824fae0/smart_open-6.4.0-py3-none-any.whl
ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Users\\Shaikat\\Anaconda3\\Lib\\site-packages\\~cipy\\cluster\\_hierarchy.cp38-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

  Using cached gensim-4.3.2-cp38-cp38-win_amd64.whl (24.0 MB)
Collecting smart-open>=1.8.1
  Downloading smart_open-6.4.0-py3-none-any.whl (57 kB)
Requirement already satisfied: numpy>=1.18.5 in c:\users\shaikat\anaconda3\lib\site-packages (from gensim) (1.20.1)
Collecting scipy>=1.7.0
  Using cached scipy-1.10.1-cp38-cp38-win_amd64.whl (42.2 MB)
Installing collected packages: smart-open, scipy, gensim
  Attempting uninstall: scipy
    Found existing installation: scipy 1.6.2
    Uninstalling scipy-1.6.2:
      Successfully uninstalled scipy-1.6.2

In [40]:
!pip install gensim --index-url=https://pypi.org/simple/

Looking in indexes: https://pypi.org/simple/
Collecting gensim
  Using cached gensim-4.3.2-cp38-cp38-win_amd64.whl (24.0 MB)
Requirement already satisfied: scipy>=1.7.0 in c:\users\shaikat\anaconda3\lib\site-packages (from gensim) (1.10.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\shaikat\anaconda3\lib\site-packages (from gensim) (1.20.1)
Requirement already satisfied: smart-open>=1.8.1 in c:\users\shaikat\anaconda3\lib\site-packages (from gensim) (6.4.0)
Installing collected packages: gensim
Successfully installed gensim-4.3.2

In [41]:
from gensim.models import Word2Vec, KeyedVectors

In [42]:
text_vector = [nltk.word_tokenize(test) for test in df['test']]
text_vector

[['I', 'love', 'Bangladesh'],
 ['Could', 'you', 'give', 'me', 'an', 'iphone', '?'],
 ['Hello', 'how', 'are', 'you', '?'],
 ['I', 'want', 'to', 'talk', 'you', '.']]

In [43]:
model = Word2Vec(text_vector,min_count=1)

In [44]:
model.wv.most_similar('want')

[('an', 0.17826789617538452),
 ('I', 0.16072483360767365),
 ('give', 0.10560770332813263),
 ('how', 0.0921597108244896),
 ('iphone', 0.04891003668308258),
 ('are', 0.027008356526494026),
 ('Could', 0.007729304023087025),
 ('you', -0.03771638497710228),
 ('.', -0.04552281275391579),
 ('talk', -0.04649209976196289)]